.movie-card-list {
    padding: 70px 70px 10px;
    display: flex;
    flex-direction: column;
}

.movie-card-list__items {
    padding: 0;
    margin: 0;
    justify-items: center;
    display: grid;
    gap: 37px 24px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
}

.movies-card-list__error {
    color: #FF3055;
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    margin: 94px 0;
    line-height: normal;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .movie-card-list {
        padding: 80px 30px 30px;
    }

    .movie-card-list__items {
        gap: 30px 28px;
    }
}

@media screen and (max-width: 550px) {
    .movie-card-list {
        padding: 26px 10px 50px;
    }
}

@media screen and (max-width: 350px) {
    .movie-card-list__items {
        gap: 14px;
    }

    .movies-card-list__error {
        font-size: 14px;
        margin-top: 100px;
    }
}