.movie-card {
    max-width: 364px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FDFDFD;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie-card__image {
    width: 100%;
    height: 203px;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0;
}

.movie-card__desc {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 17px;
}

.movie-card__title {
    max-width: 290px;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movie-card__duration {
    margin: 0;
    padding: 0 16px 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.movie-card__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -6px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.25s;
}

.movie-card__btn:hover {
    opacity: 0.7;
}

.movie-card__btn_save {
    background: url('../../images/heart.svg') no-repeat center;
}

.movie-card__btn_save_active {
    background: url('../../images/heart_red.svg') no-repeat center;
}

.movie-card__btn_remove {
    background: url('../../images/d4.svg') no-repeat center;
    visibility: hidden;
}

.movie-card:hover .movie-card__btn_remove {
    visibility: visible;
}

@media screen and (max-width: 890px) {
    .movie-card {
        max-width: 339px;
    }


    .movie-card__desc {
        padding: 14px 14px 15px;
    }

    .movie-card__duration {
        padding: 0 14px 14px;
    }
}

@media screen and (max-width: 480px) {
    .movie-card {
        max-width: 300px;
    }

    .movie-card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movie-card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}