.search {
    padding: 70px 0 0;
}

.search__form {
    height: 72px;
    margin-bottom: 69px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 29px 0 19px;
    background: #F9F9F9;
    border-radius: 9px;
}

.search__form:focus-within {
    outline: 2px solid #FFF;
}

.search__icon {
    width: 34px;
    height: 34px;
    background: #F9F9F9 url('../../images/lupa.svg') no-repeat center;
}

.search__input-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
    padding-right: 29px;
    border-right: 1px solid #E8E8E8;
}

.search__input {
    width: calc(100% - 165px);
    display: flex;
    padding: 25px 22px 25px 10px;
    font-size: 18px;
    line-height: 20px;
    background: none;
    border: none;
    outline: none;
    color: #A0A0A0;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.search__button {
    width: 59px;
    height: 34px;
    background-color: #3456F3;
    border-radius: 48px;
    border-style: none;
    outline: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #FFF;
    padding: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.search__button:hover {
    opacity: 0.7;
}

.search__checkbox-wrap {
    display: flex;
    gap: 14px;
    padding-left: 29px;
    transition: opacity 0.25s;
    align-items: center;
}

.search__checkbox-wrap:hover {
    opacity: 0.7;
}

.search__checkbox-switch {
    width: 34px;
    height: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.search__checkbox-switch input {
    display: none;
}

.search__checkbox-slider {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: .3s;
    background-color: #C4C4C4;
}

.search__checkbox-slider:focus-within {
    outline: 2px solid #FFF;
}

.search__checkbox-slider:before {
    width: 10px;
    position: absolute;
    background-color: #EBEBEB;
    bottom: 2px;
    content: "";
    height: 10px;
    left: 2px;
    transition: .3s;
}

input:checked+.search__checkbox-slider {
    background-color: #2BE080;
    outline: none;
}

input:checked+.search__checkbox-slider:before {
    transform: translateX(20px);
    background-color: #FFF;
    outline: 2px solid #2BE080;
}

.search__checkbox-slider.round {
    border-radius: 20px;
}

.search__checkbox-slider.round:before {
    border-radius: 50%;
}

.search__checkbox-title {
    margin: 0 auto;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.search hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 768px) {
    .search__form {
        justify-content: center;
    }

    .search__input-wrap {
        padding-right: 19px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .search__form {
        margin-bottom: 109px;
    }

    .search__icon {
        display: none;
    }

    .search__input-wrap {
        padding-right: 0;
        border: none;
    }

    .search__checkbox-wrap {
        padding: 0;
        position: absolute;
        top: 110px;
    }

    .search__checkbox-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .search__icon {
        display: none;
    }

    .search__checkbox-wrap {
        margin: 0 auto 45px;
    }
}