.search {
    padding: 70px 70px 0;
}

.search__form {
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 29px 0 19px;
    background: #F9F9F9;
    border-radius: 9px;
}

.search__form:focus-within {
    outline: 2px solid #FFF;
}

.search__icon {
    width: 34px;
    height: 34px;
    background: #F9F9F9 url('../../images/lupa.svg') no-repeat center;
}

.search__input-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
    padding-right: 30px;
    border-right: 1px solid #E8E8E8;
}

.search__input {
    width: calc(100% - 165px);
    height: 22px;
    display: flex;
    padding: 25px 22px 25px 10px;
    font-size: 18px;
    line-height: 20px;
    background: none;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
}

.search__input:focus::placeholder {
    color: transparent;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.search__button {
    width: 59px;
    height: 34px;
    background-color: #3456F3;
    border-radius: 48px;
    border-style: none;
    outline: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #FFF;
    padding: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.search__button:disabled {
    opacity: 0.4;
}

.search__button:disabled:hover {
    opacity: 0.4;
    cursor: default;
}

.search__button:hover {
    opacity: 0.7;
}

.search__input-error {
    color: #FF004C;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding-left: 4px;
    margin: 0;
    min-height: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 13px;
    opacity: 0;
}

.search__input-error_visible {
    opacity: 1;
}

.search hr {
    margin: 0;
    margin-top: 55px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 768px) {
    .search {
        padding: 80px 30px 0;
    }
    
    .search__form {
        justify-content: center;
    }

    .search__input-wrap {
        padding-right: 19px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .search__input-wrap {
        padding-right: 0;
        border: none;
    }

    .search__checkbox-wrap {
        padding: 0;
        position: absolute;
        top: 110px;
    }

    .search__checkbox-title {
        font-size: 11px;
    }

    .search__input-error {
        font-size: 11px; 
    }
}

@media screen and (max-width: 550px) {
    .search__icon {
        display: none;
    }

    .search__checkbox-wrap {
        margin: 0 auto 45px;
    }

    .search hr {
        margin-top: 109px;
    }
}