.nav-landing {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
}

.nav-landing__link-reg {
    text-decoration: none;
    color: #FFF;
}

.nav-landing__link-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    font-weight: 500;
    border-radius: 3px;
    background-color: #2BE080;
    text-decoration: none;
    color: #000;
}

.nav-movies {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
}

.nav-movies__links {
    display: flex;
    gap: 16px;
}

.nav-movies__link {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.nav-movies__link_active {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #000;

}

.nav-movies__account-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgba(170, 170, 170, .2);
    padding: 8px 12px;
}

.nav-movies__account-btn:hover {
    cursor: pointer;
}

.nav-movies__account-btn-img {
    width: 14px;
    height: 12px;
    margin-right: 7px;
}

.nav-movies__account-btn-title {
    width: 57px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-movies__burger-btn {
    width: 40px;
    height: 43px;
    padding: 0;
    background: none;
    background-image: url('../../images/burger_menu.svg');
    border: none;
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-movies__links,
    .nav-movies__account-btn,
    .nav-movies__account-btn-wrap {
        display: none;
    }

    .nav-movies {
        justify-content: flex-end;
    }

    .nav-movies__burger-btn {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .nav-landing {
        font-size: 10px;
        line-height: 16px;
        gap: 14px;
    }

    .nav-landing__link-login {
        width: 54px;
        height: 26px;
    }
}